apiVersion: v2
name: grafana
version: 10.5.5-bb.1
appVersion: 12.3.1
kubeVersion: "^1.8.0-0"
description: The leading tool for querying and visualizing time series and metrics.
home: https://grafana.com
icon: https://artifacthub.io/image/b4fed1a7-6c8f-4945-b99d-096efa3e4116
sources:
  - https://github.com/grafana/grafana
  - https://github.com/grafana/helm-charts
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Grafana: 12.3.1
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    - [Find our upstream chart's CHANGELOG here](https://github.com/grafana/helm-charts/tree/main/charts/grafana#upgrading-an-existing-release-to-a-new-major-version)
    - [and our upstream application release notes here](https://grafana.com/docs/grafana/latest/release-notes/)
  helm.sh/images: |
    - name: grafana
      image: registry1.dso.mil/ironbank/big-bang/grafana/grafana-plugins:12.3.1
    - name: k8s-sidecar
      image: registry1.dso.mil/ironbank/kiwigrid/k8s-sidecar:2.2.3
    - name: init-chown-data
      image: registry1.dso.mil/ironbank/redhat/ubi/ubi9-minimal:9.7
      condition: initChownData.enabled
    - name: test-framework
      image: registry1.dso.mil/ironbank/opensource/bats/bats:1.13.0
      condition: testFramework.enabled
    - name: base
      image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
    - name: image-renderer
      image: registry1.dso.mil/ironbank/opensource/grafana/grafana-image-renderer:v5.2.2
type: application
dependencies:
  - name: gluon
    version: "0.9.7"
    repository: oci://registry1.dso.mil/bigbang
  - name: grafana
    version: 10.5.5
    repository: https://grafana.github.io/helm-charts
    alias: upstream
  - name: bb-common
    version: 0.12.3
    repository: oci://registry1.dso.mil/bigbang
keywords:
  - monitoring
  - metric
